.card {
    background-color: #9b9b9b;
    color: #ffffff;
    padding: 10px;
    margin: 20px;
    width: 25%;
    height: 181px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  @media (max-width: 768px) {
    .card {
      width: 90%;
      margin: 10px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
    }
  }
  span {
    font-weight: 400;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
  }
  .wallet {
    background: linear-gradient(90deg, #b5dc52 0%, #89e148 100%);
    color: #ffffff;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
  }
  
  .expenses {
    background: linear-gradient(90deg, #ff9595 0%, #ff4747 80%, #ff3838 100%);
    color: #ffffff;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
  }