.top {
    height: 348px;
    border: 1px solid #9b9b9b;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
  }
  .topDiv {
    width: 40%;
  }
  @media (max-width: 768px) {
    .topDiv {
      width: 100%;
    }
  }